{%
set miner_online_per = (100.0 * dicts['miner_stat']['online_miner']) / dicts['miner_stat']['all_miner']
%}
{% extends 'layout.html' %}

{% block body %}
{% include 'topmenu.html' %}
<div class="container">
<div class="page-header">
<h3>{{ 'gihun' }} 님 접속 환영합니다.</h3></div>

<h3>채굴기 동작 현황 : {{ dicts['miner_stat']['online_miner'] }} / {{ dicts['miner_stat']['all_miner'] }} 대</h3>

<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{ miner_online_per }}%;"><span class="sr-only">60% Complete</span></div>
</div><br>

<h3>그래픽 카드 동작 현황</h3>
{% for a in dicts['miner_stat']['graphics_count'] %}
{% if dicts['miner_stat']['graphics_count'][a] > 0 %}
{{ a }} : {{ dicts['miner_stat']['graphics_count'][a] }} / {{ dicts['miner_stat']['graphics_max_count'][a] }}<br>
{% set per = (100.0 * dicts['miner_stat']['graphics_count'][a]) / dicts['miner_stat']['graphics_max_count'][a] %}
<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{ per }}%;"><span class="sr-only">60% Complete</span></div>
</div>
{% endif %}
{% endfor %}
<br><br>

현재 연산 성능<br>
{% for a in dicts['miner_stat']['mining_hash'] %}
{% if dicts['miner_stat']['mining_hash'][a] > 0 %}
{{ dicts['const']['COIN_TYPE'][a] }} : {{ dicts['util']['human_read_number'](dicts['miner_stat']['mining_hash'][a]) }}<br>
{% endif %}
{% endfor %}
<br><br>
오늘의 수익 : {{ '만들어야함~' }}<br>

<br><br>
1시간, 하루, 한달, 1년 해쉬레이트 그래프<br>
이더리움 제트캐쉬 파스칼 별
</div>
{% endblock %}

