<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ dicts['config'].name }}!</title>
<link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
<script src="/bootstrap/jquery.min.js"></script>
<script src="/bootstrap/bootstrap.min.js"></script>
<style type="text/css">
<!--
body {
  padding-top: 70px;
  padding-bottom: 30px;
}
//-->
</style>
{% block head %}{% endblock %}
</head>
<body role="document">
{% block body %}{% endblock %}
</body>
</html>

