{% extends 'layout.html' %}
{% block head %}
<style type="text/css">
<!--
.form-signin {
  max-width: 330px;
#  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
//-->
</style>
{% endblock %}
{% block body %}
<div class="container">
<div class="panel panel-primary form-signin">
<div class="panel-heading">
<h3 class="panel-title">로그인 해주세요.</h3>
</div>
<div class="panel-body">
<form action="/service/login" method="post">
<input type="text" class="form-control" name="id" placeholder="id" value="gihun"><br>
<input type="password" class="form-control" autofocus="true" name="pass" placeholder="Password"><br>
<input type="submit" class="btn btn-lg btn-success btn-block" value="로그인"><br>
<input type="button" class="btn btn-lg btn-warning btn-block" onclick="javascript:if(confirm('김문현 얼굴 존나 못생겼다 ㅇㅈ? ㅇ ㅇㅈ\n김문현 얼굴 에바 쎄바 참치 삼치 명치각\n고순튀급 ㅇㅈ?? ㅇ ㅇㅈ 반박시 정현교')){alert('대기순번 1234번입니다.')} else{alert('절루가삼 안받음')}" value="회원 가입"><br>
</form>
mebbix - management system<br>
contact : webmaster@playmp3.kr
</div>
</div>
</div>
{% endblock %}
