{% extends 'layout.html' %}
{% block body %}
{% include 'topmenu.html' %}

<div class="container">
<h1>채굴기 {{ dicts['hostname'] }}!!!</h1><br><br>
<form method='post' action='/service/miner_modify'>
<input type='hidden' name='id' value='{{dicts['miner'][dicts['hostname']]['id']}}'>
<input type='hidden' name='name' class="form-control" value='{{ dicts['hostname'] }}'>
<!---
이름 (변경 추후 지원 예정) : <input type='text' name='name' class="form-control" value='{{ dicts['hostname'] }}'><br>
-->
실제 그래픽카드 갯수 : <input type='number' name='graphics_max' class="form-control" value='{{ dicts['miner'][dicts['hostname']]['graphics_max']['data'] }}'><br>
메모 : <textarea class='form-control' rows='5' name='memo'>{{ dicts['miner'][dicts['hostname']]['memo']['data'] }}</textarea><br>
<input type='submit' class="btn btn-warning" value='정보 변경'>
</form>
<form method='post' action='/service/miner_delete'>
<input type='hidden' name='id' value='{{dicts['miner'][dicts['hostname']]['id']}}'>
<input type='button' name='minerid' class="btn btn-danger" value='채굴기 지우기' onclick='if(confirm("김문현 얼굴 존나 못생겼다")){this.form.submit();}'>
</form>
<a href='#' data-url='/service/miner_remote/{{ dicts['hostname'] }}' class="btn btn-primary remoteview">원격 보기</a>
<br><br>
<pre>
상세정보

버전 : {{ dicts['miner'][dicts['hostname']]['version'] }}
생성 시간 : {{ dicts['util']['pretty_date'](dicts['miner'][dicts['hostname']]['create_time']) }}
마지막 수정 : {{ dicts['util']['pretty_date'](dicts['miner'][dicts['hostname']]['modify_time'] | int) }}
마지막 업데이트 : {{ dicts['util']['pretty_date'](dicts['miner'][dicts['hostname']]['last_refresh_time']) }}
마지막 채굴기 상태 업데이트 : {{ dicts['util']['pretty_date'](dicts['miner'][dicts['hostname']]['last_miner_refresh_time']) }}
CPU : {{ dicts['miner'][dicts['hostname']]['cpu'] }}
MAINBOARD : {{ dicts['miner'][dicts['hostname']]['board'] }}
IP : {{ dicts['miner'][dicts['hostname']]['ip'] }}
MAC : {{ dicts['miner'][dicts['hostname']]['mac'] }}

그래픽카드
종류 : {{ dicts['miner'][dicts['hostname']]['graphics'] }}
개수 : {{ dicts['miner'][dicts['hostname']]['graphics_count'] }}
실제 개수 : {{ dicts['miner'][dicts['hostname']]['graphics_max']['data'] }}
온도 : {% for a in range(0, dicts['miner'][dicts['hostname']]['graphics_count']) %}{% if a != 0 %}, {% endif %}{{ dicts['miner'][dicts['hostname']]['graphics_temperate'][a*2] }}C{% endfor %}
팬속도 : {% for a in range(0, dicts['miner'][dicts['hostname']]['graphics_count']) %}{% if a != 0 %}, {% endif %}{{ dicts['miner'][dicts['hostname']]['graphics_temperate'][(a*2)+1] }}%{% endfor %}
코인1 : {{ dicts['const']['COIN_TYPE'][dicts['miner'][dicts['hostname']]['mining_coin1']] }}
채굴량1 : {% for a in range(0, dicts['miner'][dicts['hostname']]['graphics_count']) %}{% if a != 0 %}, {% endif %}{{ dicts['miner'][dicts['hostname']]['mining_hash1'][a] }}{% endfor %}
코인2 : {{ dicts['const']['COIN_TYPE'][dicts['miner'][dicts['hostname']]['mining_coin2']] }}
채굴량1 : {% for a in range(0, dicts['miner'][dicts['hostname']]['graphics_count']) %}{% if a != 0 %}, {% endif %}{{ dicts['miner'][dicts['hostname']]['mining_hash2'][a] }}{% endfor %}

채굴
모드 : {{ dicts['miner'][dicts['hostname']]['mining_mode'] }}
버전 : {{ dicts['miner'][dicts['hostname']]['miner_version'] }}
채굴시간 : {{ dicts['util']['pretty_date'](dicts['time'] - (dicts['miner'][dicts['hostname']]['last_miner_refresh_time'] - dicts['miner'][dicts['hostname']]['miner_running_time'])) }}
총채굴량1 : {{ dicts['miner'][dicts['hostname']]['mining_hash1_sum'] }}
총채굴량2 : {{ dicts['miner'][dicts['hostname']]['mining_hash2_sum'] }}

</pre>

</div>

<script>
var asdf = {{ dicts['miner'][dicts['hostname']]['pool_share'] | tojson | safe }};
</script>
<script>
$(document).ready(function () {
            $(".remoteview").click(function () {
		alert('mebbix-client version 6 이상 지원하는 기능입니다.\n만약 작동이 안된다면 버전을 확인해주세요');
                var w = window.open($(this).data('url'), "popupWindow", "width=800, height=480, scrollbars=yes");
            });
        });
</script>
{% endblock %}
