{% extends 'layout.html' %}
{% block body %}
{% include 'topmenu.html' %}

<div class="container">
<!--
그룹기능 추가하기<br><br>

그룹 리스트 : 
<select class="form-control" id="group">
<option>test1</option>
<option>test2</option>
<option>test3</option>
</select><br>

<button type="button" class="btn btn-lg btn-primary">Primary</button>
<button type="button" class="btn btn-lg btn-success">Success</button>
<button type="button" class="btn btn-lg btn-info">Info</button>
<button type="button" class="btn btn-lg btn-warning">Warning</button>
<button type="button" class="btn btn-lg btn-danger">Danger</button>

<br><br>

-->
<table class="table table-striped">
<thead>
<tr>
<th><input type="checkbox"> 순서</th>
<th>이름</th>
<th>갯수</th>
<th>채굴량</th>
</thead>
<tbody>

{% set i = 1 %}
{% for entry in dicts['miner_key'] %}

{% set alt = '' %}
{% set danger = 0 %}
{% set warning = 0 %}
{% set status = '' %}
{% set altenable = '' %}

{% if (dicts['time'] - dicts['miner'][entry]['last_refresh_time']) > 300 %}
{% set alt = alt + 'not working, ' %}
{% set danger =+ 1 %}
{% endif %}
{% if dicts['miner'][entry]['graphics_max']['data'] > dicts['miner'][entry]['graphics_count'] %}
{% set alt = alt + 'graphics card escape, ' %}
{% set warning =+ 1 %}
{% endif %}
{% if dicts['miner'][entry]['mining_hash1_sum'] == 0 %}
{% set alt = alt + 'mining hash error, ' %}
{% set warning =+ 1 %}
{% endif %}
{% if (dicts['time'] - dicts['miner'][entry]['last_miner_refresh_time']) > 300 %}
{% set alt = alt + 'miner daemon not working, ' %}
{% set warning =+ 1 %}
{% endif %}

{% if alt == '' %}
{% set icon = '/img/icon_ok.png' %}
{% else %}
{% set icon = '/img/icon_warning.png' %}
{% endif %}

{% if danger > 0 %}
{% set status = 'danger' %}
{% elif warning > 0 %}
{% set status = 'warning' %}
{% endif %}

{% set button = {'button': 'btn-primary'} %}
{% for a in range(0, dicts['miner'][entry]['graphics_count']) %}
{% set temp = dicts['miner'][entry]['graphics_temperate'][a*2] | int %}
{% if temp > 90 %}
{% if button.update({'button': 'btn-danger'}) %}{% endif %}
{% endif %}
{% endfor %}

<tr class="{{ status }}">
<td>
<input type="checkbox"> {{ i }}{% set i = i + 1 %}</td>
<td><img src={{ icon }} width='24px' height='24px' alt='{{ alt }}' title='{{ alt }}' /> <a href='/service/miner/{{ entry }}'>{{ entry }}</a> {% if dicts['miner'][entry]['mining_coin1'] != 0 %}<img src='/img/coin/{{ dicts['miner'][entry]['mining_coin1'] }}.png' width='24px' height='24px' alt='{{ dicts['const'].COIN_TYPE[ dicts['miner'][entry]['mining_coin1'] ] }}' title='{{ dicts['const'].COIN_TYPE[ dicts['miner'][entry]['mining_coin1'] ] }}' />{% endif %} {% if dicts['miner'][entry]['mining_coin2'] != 0 %}<!--img src='/img/coin/{{ dicts['miner'][entry]['mining_coin2'] }}.png' width='24px' height='24px' alt='{{ dicts['const'].COIN_TYPE[ dicts['miner'][entry]['mining_coin2'] ] }}' title='{{ dicts['const'].COIN_TYPE[ dicts['miner'][entry]['mining_coin2'] ] }}'/-->{% endif %}</td>
<td>{{ dicts['miner'][entry]['graphics_count'] }} / {{ dicts['miner'][entry]['graphics_max']['data'] }}</td>
<td><a href="#myModal" role="button" class="open-myModal btn {{ button['button'] }}" data-toggle="modal" data-target="#myModal" data-graphics='{{ dicts['miner'][entry]['graphics'] }}' data-hash='{% for a in range(0, dicts['miner'][entry]['graphics_count']) %}{% if a != 0 %}, {% endif %}{{ dicts['util']['human_read_number'](dicts['miner'][entry]['mining_hash1'][a]) }}{% endfor %}' data-temperate='{% for a in range(0, dicts['miner'][entry]['graphics_count']) %}{% set temp = dicts['miner'][entry]['graphics_temperate'][a*2] | int %}{% if a != 0 %}, {% endif %}<a {% if temp > 90 %}class="btn-danger"{% endif %}>{{ temp }}C</a>{% endfor %}'>{{ dicts['util']['human_read_number'](dicts['miner'][entry]['mining_hash1_sum']) }}</a></td>
</tr>
{% endfor %}

</tbody>
</table>

</div>

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">상세 정보 팝업</h4>
            </div>
            <div class="modal-body">
		그래픽카드 종류 : <p id="graphics"></p>
		채굴량 : <p id="hash"></p>
		온도 : <p id="temperate"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
$(document).on("click", ".open-myModal", function () {
     var graphics = $(this).data('graphics');
     var hash = $(this).data('hash');
     var temperate = $(this).data('temperate');
     $(".modal-body #hash").text(hash);
     $(".modal-body #temperate").html(temperate);
     $(".modal-body #graphics").text(graphics);
     // As pointed out in comments, 
     // it is superfluous to have to manually call the modal.
     // $('#addBookDialog').modal('show');
});
</script>
{% endblock %}
