<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#">{{ dicts['config'].name }}!</a>
</div>
<div id="navbar" class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li><a href='/service/dashboard'>대시보드</a></li>
<li><a href='/service/miner'>광부 현황</a></li>
<li><a href='/service/event'>최근 기록</a></li>
</ul>
<ui class="nav navbar-nav pull-right">
<li class="divider-vertical"></li>
<li><a href='/service/logout'>로그아웃</a></li>
</ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>
